!!! XML
!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %meta{ :'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/css/application.css' }
    %script{ :type => 'text/javascript', :src => '/javascripts/jquery.js' }
    %script{ :type => 'text/javascript', :src => '/javascripts/application.js' }
    %title Comets
  %body
    #header
      %h1 Comets
    != yield
